#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#footer {
    width: 100%;
    height: 100%;
}

#travelNote {
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
}

.thisNote {
    width: 100%;
    height: 550px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.thisNote .card {
    background-color: transparent;
    border: 0px solid rgba(0, 0, 0, 0);
    color: white;
}

.noteIndex {
    margin: 10px auto;
}

.noteIndex .card {
    border: 0px solid rgba(0, 0, 0, 0);
}

.noteDetails .card {
    border: 0px solid rgba(0, 0, 0, 0);
}