#home {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#toolBar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
}

#travelNote {
    width: 100%;
    padding-bottom: 2.5rem;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
}

.thisNote {
    width: 100%;
    height: 550px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.thisNote .card {
    background-color: transparent;
    border: 0px solid rgba(0, 0, 0, 0);
    color: white;
}

.noteIndex {
    margin: 10px auto;
}

.noteDetails {
    margin: 10px auto;
}

.noteContent .card {
    align-items: center;
    background-color: transparent;
    border: 0px solid rgba(0, 0, 0, 0);
}

.noteContent .list-group-item {
    border: 0px solid rgba(0, 0, 0, 0);
}

.noteContent .card-img-top {
    opacity: 1;
}