.card-img-top {
    width: 50%;
    height: 80%;
    opacity: 0.65;
}

.footerContainer {
    background-color: #484848;
}

.footerContainer .card {
    align-items: center;
    justify-content: center;
    border: 0px solid rgba(0, 0, 0, 0);
    background-color: #484848;
    color: white;
    font-size: 0.85rem;
}