#home {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    height: 100%;
}

#toolBar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
}


/* #editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 2.5rem;
} */

#classicEditor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 1.5rem;
}

.ck.ck-editor {
    /* height: 200px !important; */
    /* min-height: 500px !important; */
    width: -webkit-fill-available !important;
}

.ck-editor__editable {
    max-height: 320px;
}

.ck.ck-editor__editable_inline {
    height: -webkit-fill-available !important;
}

#submitContent {
    margin: 15px auto;
}

#submitContent .btn-primary {
    background-color: #f7a223;
}

#submitContent .btn {
    border: 0px solid transparent;
    margin: auto 15px;
    font-weight: bold;
}